body {
  background: #F4DECB;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Assistant', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #070101;
}

.bg-steel {
  background-color: #94618E;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #c98d34;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #F8EEE7;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .btn-secondary {
    color: #fff;
    background-color: #94618E;
    border-color: #94618E;
}
 .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #94618E;
    border-color:#94618E;
}

.btn-outline-info {
    color: #94618E;
    border-color:#94618E;
    border-radius: 16px;
}

.btn-outline-info:hover{
    background-color:#94618E ;
}
.btn-outline-info:active{
    background-color:#94618E ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* turn it off completely */
.show>.btn-secondary.dropdown-toggle:active, select:hover {
    outline: none
  }
  
  /* make it red instead (with with same width and style) */
.show>.btn-secondary.dropdown-toggle:active, select:hover {
    background-color:#94618E ;
    outline-color: #94618E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.column {
    float:left;
    width: 33.33%;
    padding:5px
}
@media screen and (max-width:800px){
    .column{
        width:100%;
        padding:5px;
    }
}

#myButton {
    display: none;
  }
  #popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
    