<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    {% if title %}
    <title>Seva App - {{ title }}</title>
    {% else %}
    <title>Seva App</title>
    {% endif %}
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Seva App</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}"
                >About</a
              >
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('account') }}"
                >Account</a
              >
              <a class="nav-item nav-link" href="{{ url_for('logout') }}"
                >Logout</a
              >
              <a class="nav-item nav-link" href="{{ url_for('delete') }}"
                >Delete Account</a
              >
              {% if current_user.role=='User' %}
              <a class="nav-item nav-link" href="{{ url_for('help') }}">Help Me</a>
              
              <a class="nav-item nav-link" href="{{ url_for('med_taken') }}"
                >
                <div class="row align-items-start">
                Medcine Taken
                <span class="material-symbols-outlined">
                    select_check_box 
                    </span>
                </div>   
                </a
              >
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('monitor') }}"
                >Monitoring</a
              >
              <a
                class="nav-item nav-link"
                href="{{ url_for('notifications',title='notifications') }}"
                >Notifications</a
              >
              {% endif %}
              <script>
                const socket = io.connect("http://10.110.30.104:5000");
                if ("{{current_user.role}}" == "User") {
                  socket.on("connect", function () {
                    socket.emit("logged_in", {
                      pin: "{{current_user.pincode}}",
                      url: window.location.pathname,
                      id: "{{current_user.id}}",
                    });
                  });
                }

                socket.on("announcement", function (pin) {
                  if (
                    "{{current_user.role}}" == "Volunteer" &&
                    pin == "{{current_user.pincode}}"
                  ) {
                    window.location.href =
                      "{{url_for('notifications',title='New-Notification')}}";
                  }
                });

                if (window.location.href.includes("/ack")) {
                  if ("{{text}}".includes("already") == false) {
                    var tmp = "{{text}}".indexOf("volunteer") + 10;
                    var u_id1 = window.location.pathname.indexOf("ack") + 4;
                    var u_id = parseInt(
                      window.location.pathname.substring(u_id1)
                    );
                    socket.emit("notify", {
                      name: "{{text}}".slice(tmp),
                      id1: u_id,
                      id2: "{{current_user.id}}",
                    });
                  }
                }

                socket.on("notify_user", function (data) {
                  if ("{{current_user.id}}" == data["id1"]) {
                    const e = document.createElement("p");
                    e.innerHTML = 'Volunteer <b>'+data['name']+'</b> accepted<br>Phone Number: <b>'+data['num']+'</b>';
                    document.body.appendChild(e);
                  }
                });
              </script>
              {% else %}
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{{url_for('login',role='User')}}">Login</a>
                  <a class="dropdown-item" href="{{url_for('register',role='User')}}">Register</a>
                </div>
              </div>

                <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Volunteer
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{url_for('login',role='Volunteer')}}">Login</a>
    <a class="dropdown-item" href="{{url_for('register',role='Volunteer')}}">Register</a>
  </div>
</div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock
          %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
