{% extends "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/main.css') }}"
/>
<div class="form-structor">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <!-- <legend class="border-bottom mb-4">Join Today</legend> -->
    <div class="signup">
      <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
      <div class="form-holder">
        <!-- {{ form.username.label(class="form-control-label") }} -->
        <input
          type="text"
          placeholder="Username"
          name="username"
          value="{{ form.username.label }}"
        />
        <input
          type="text"
          placeholder="Email"
          name="email"
          value="{{ form.email.label }}"
        />
        <input
          type="text"
          placeholder="Address"
          name="address"
          value="{{ form.address.label }}"
        />
        <input
          type="text"
          placeholder="Pincode"
          name="pincode"
          value="{{ form.pincode.label }}"
        />
        <input
          type="text"
          placeholder="Password"
          name="password"
          value="{{ form.password.label }}"
        />
        <input
          type="text"
          placeholder="Confirm_Password"
          name="confirm_password"
          value="{{
                                        form.confirm_password.label }}"
        />
      </div>
      <button class="submit-btn">Sign up</button>
    </div>

    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>

    <div class="login slide-up">
      <div class="center">
        <h2 class="form-title" id="login"><span>or</span>Log in</h2>
        <div class="form-holder">
          <input type="email" class="input" placeholder="Email" />
          <input type="password" class="input" placeholder="Password" />
        </div>
        <button class="submit-btn">Log in</button>
      </div>
    </div>
  </form>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>
</div>

{% endblock content %}
